// Fonts
$mainFont: 'Lato', sans-serif;
$headingFont: 'Montserrat', sans-serif;

// Text Colours
$darkText: #141414;
$richBlack: #323232;
$primaryText: #222d3d;
$secondaryText: #89959B;
$zomatoRed: #cb202d;

// Background Colours
$inputColor: #bdc3c7;
$dodgerBlue: #1e90ff; // DodgerBlue
$paginathingBlue : #337ab7;